# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django
db.sqlite3
*.log

# Media (uploaded datasets)
media/

# Static files (if collected)
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/